#tabs{
	padding: 0 !important;
}

img.cover{
	text-align: center;
    width: calc(100% + 32px);
    margin: -16px;
}

.row{
	text-align: center;
	display: flex;
}

.col-2{
	width: 20%;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-align: center;
}

#team {
  padding: 32px 16px;
}

#team img {
	border-radius: 50%;
}

#proyect {
  padding: 32px 16px;
}

.proyect {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 250px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
}

.proyect:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#contact {
  padding: 32px 16px;
}

.fa-facebook-official:hover {
  color: #3B5998;
}

.fa-youtube:hover {
  color: #bb0000;
}

.fa-instagram:hover {
  color: #125688;
}

.fa-snapchat:hover {
  color: #fffc00;
}

.fa-twitter:hover {
  color: #55ACEE;
}

.fa-linkedin:hover {
  color: #007bb5;
}